<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
    <array>
        <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://psqsanjay.github.io/Live.ipa</string>
        </dict>
    </array>
    <key>metadata</key>
    <dict>
        <key>bundle-identifier</key>
        <string>com.ocevent.ocevents</string>
        <key>bundle-version</key>
        <string>0.0.6</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Live</string>
    </dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>live</string>
        </array>
      </dict>
    </array>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>290365069134-5gejs1nd11kkv69sar558buqav2g5ilo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290365069134-5gejs1nd11kkv69sar558buqav2g5ilo</string>
	<key>API_KEY</key>
	<string>AIzaSyBI8qyjharaxItwyTo0BtNb5F3KytFQ-jg</string>
	<key>GCM_SENDER_ID</key>
	<string>290365069134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ocevent.ocevents</string>
	<key>PROJECT_ID</key>
	<string>experiencelive-e376c</string>
	<key>STORAGE_BUCKET</key>
	<string>experiencelive-e376c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:290365069134:ios:c2674a04b3b2bf79</string>
	<key>DATABASE_URL</key>
	<string>https://experiencelive-e376c.firebaseio.com</string>
</dict>
</plist>